@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Lora:ital@1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.top-header {
  display: none;
}

.logo-img img {
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
  background-color: white;
}

.nav-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  left: -100%;
  height: calc(100vh - 60px);
  padding: 60px;
  width: 100%;
  gap: 10vh;
  transition: left 0.5s ease-in-out;
  background: white;
  z-index: 2;
}

.nav-items.show {
  left: 0;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: grey;
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.nav-link:hover {
  color: #007e06;
}

.nav-link:focus {
  color: #ec5242;
}

.nav-buttons {
  display: flex;
  cursor: pointer;
}

.humbarger-icon,
.close-icon {
  width: 50px;
  height: 50px;
  margin: 0.1rem 1rem 0 0;
}

.close-icon {
  display: none;
}

.humbarger-icon.hide {
  display: none;
}

.close-icon.hide {
  display: block;
  background-color: #007e06;
  border: none;
  border-radius: 0.25rem;
}

.nav-btn {
  padding: 0.5rem;
  background-color: white;
  border: 3px solid #ec5242;
  cursor: pointer;
  display: none;
}

.nav-btn .nav-link {
  color: #ec5242;
}

.nav-btn .nav-link:hover {
  color: #007e06;
}

@media screen and (min-width: 768px) {
  .top-header {
    display: block;
  }

  .top-navbar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    background-color: #272b30;
    padding: 0.5rem 10rem;
  }

  .top-link {
    color: white;
    font-size: 1rem;
  }

  .top-link:hover {
    color: #ec5242;
  }

  .navbar {
    width: 100%;
    padding: 0.5rem 10rem;
  }

  .nav-items {
    position: relative;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: max-content;
    gap: 40px;
    top: 0;
    left: 0;
    background: white;
    padding: 0;
  }

  .nav-link {
    color: grey;
    border: none;
    padding: 0;
    width: unset;
  }

  .nav-btn {
    display: block;
  }

  .nav-buttons {
    display: none;
  }
}

/* home section */
.home {
  height: 100vh;
}

.background-container {
  position: relative;
  background-image: url("../output-onlinepngtools\ \(5\).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  text-align: center;
  color: white;
  margin-top: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-wrapper {
  width: 100%;
  margin-top: 4rem;
}

.background-title {
  font-size: 1rem;
  font-weight: 900;
  font-style: bold;
  line-height: 150%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  background-image: url("../pexels-photo-9022091.png");
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
}

.background-title span:first-child {
  color: #ec5242;
  font-weight: 400;
}

.background-text {
  color: #272a31;
  padding-top: 2rem;
}

.summit-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
  max-width: 1240px;
  width: 100%;
  min-height: 15vh;
  background-color: #e5e7e6;
  padding: 0.5rem 0 1rem 0.5rem;
  margin-top: auto;
}
.summit-info {
  color: #272a31;
  font-size: 1rem;
}

.summit-info p:first-child {
  margin-bottom: 0.2rem;
}

@media screen and (min-width: 768px) {
  .background-container {
    padding: 0;
  }
  .background-wrapper {
    margin: 0 10rem;
    margin-top: 10rem;
    width: unset;
  }

  .background-title {
    font-size: 3rem;
  }
  .background-text {
    font-size: 1.5rem;
    padding: 2rem 10rem;
  }

  .background-content {
    font-size: 3rem;
    padding: 5rem 6rem 0 6rem;
  }
  .signup-buttons {
    margin-top: 4rem;
  }
  .signup-button {
    padding: 1rem 1.5rem;
  }

  .summit-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .summit-info {
    font-size: 1.5rem;
    text-align: start;
  }

  .summit-info p:first-child {
    margin-bottom: 1rem;
  }
  .box-container {
    margin: auto 0;
  }
}
