@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Lora:ital@1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.top-header {
  display: none;
}

.logo-img img {
  height: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
}

.nav-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3.75rem;
  left: -100%;
  height: calc(100vh - 3.75rem);
  padding: 3.75rem;
  width: 100%;
  gap: 10vh;
  transition: left 0.5s ease-in-out;
  background: white;
  z-index: 2;
}

.nav-items.show {
  left: 0;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: grey;
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.nav-link:hover {
  color: #007e06;
}

.nav-link:focus {
  color: #ec5242;
}

.nav-buttons {
  display: flex;
  cursor: pointer;
}

.humbarger-icon,
.close-icon {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0.1rem 1rem 0 0;
}

.close-icon {
  display: none;
}

.humbarger-icon.hide {
  display: none;
}

.close-icon.hide {
  display: block;
  background-color: #007e06;
  border: none;
  border-radius: 0.25rem;
}

.nav-btn {
  padding: 0.5rem;
  background-color: white;
  border: 3px solid #ec5242;
  cursor: pointer;
  display: none;
}

.nav-btn .nav-link {
  color: #ec5242;
}

.nav-btn .nav-link:hover {
  color: #007e06;
}

@media screen and (min-width: 768px) {
  .top-header {
    display: block;
    padding: 0.5rem 10rem;
    background-color: #272b30;
  }

  .top-navbar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }

  .top-link {
    color: white;
    font-size: 1rem;
  }

  .top-link:hover {
    color: #ec5242;
  }

  .navbar {
    width: 100%;
    padding: 0 10rem;
  }

  .nav-items {
    position: relative;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: max-content;
    gap: 2.5rem;
    top: 0;
    left: 0;
    background: white;
    padding: 0;
  }

  .nav-link {
    color: grey;
    border: none;
    padding: 0;
    width: unset;
  }

  .nav-btn {
    display: block;
  }

  .nav-buttons {
    display: none;
  }
}

/* home section */
.background-container {
  position: relative;
  background-image: url("../assests/output-onlinepngtools\ \(5\).png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: white;
  padding: 1rem;
}

.background-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.background-title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 150%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  background-image: url("../assests/pexels-photo-9022091.png");
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  text-align: left;
  text-transform: uppercase;
}

.background-title span:first-child {
  color: #ec5242;
  font-weight: 400;
  font-size: 1.5rem;
}

.background-text {
  color: #11171d99;
  padding: 1rem;
  text-align: left;
  border: 5px solid #efe7e6;
  background-color: rgba(247, 246, 246, 0.2);
}

.summit-info {
  text-align: left;
  padding: 2rem 0;
}

.summit-date {
  font-weight: 900;
  font-size: 1.5rem;
  color: #404346;
}

.summit-location {
  color: #11171d99;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .background-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10rem 0;
  }

  .background-wrapper {
    max-width: 60rem;
    width: 100%;
    gap: 2rem;
  }

  .background-title {
    font-size: 4rem;
    line-height: 100%;
  }

  .background-title span:first-child {
    font-size: 2rem;
  }

  .background-text {
    font-size: 1.5rem;
    padding-right: 4rem;
  }

  .summit-date {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.01rem;
  }

  .summit-location {
    font-size: 1.5rem;
  }
}

/* program-section */
.program-container {
  background: #272a31;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 0.625rem 0.625rem;
  background-position: -1.1875rem -1.1875rem;
  height: 100%;
}

.program-container > h2 {
  text-align: center;
  color: white;
  padding: 2rem 0;
  position: relative;
}

.program-container > h2::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: #ec5242;
}

.program-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
}

.program-content {
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ec5242;
  background-color: rgba(60, 65, 70, 0.7);
  width: 22.188rem;
}

.program-content:hover {
  border: 2px solid white;
}

.program-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.program-details > img {
  width: 5rem;
  height: 5rem;
}

.program-title {
  color: #ec5242;
  margin: 1rem 0;
  width: 5rem;
  text-align: center;
}

.program-subtitle {
  color: white;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.program-links {
  display: flex;
  justify-content: center;
}

.program-links > a:nth-child(1) {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 4rem;
  border-bottom: 1px solid white;
  display: none;
}

.program-links > a:nth-child(2) {
  color: white;
  background: #ec5242;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  font-weight: 900;
}

.see-more-button,
.see-less-button {
  display: block;
  border: 1px solid #efe7e6;
  border-radius: 0.2rem;
  padding: 1rem 0;
  margin: 0 0.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.see-less-button {
  display: none;
}

.fa-solid {
  color: #ec5242;
}

@media screen and (min-width: 768px) {
  .program-container {
    height: 100%;
  }

  .program-container > h2::after {
    width: 3%;
  }

  .program-wrapper {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }

  .program-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21.875rem;
    height: 21.875rem;
    padding: 3rem 2rem;
  }

  .program-details {
    flex-direction: column;
  }

  .program-links > a:nth-child(1) {
    display: block;
    margin-bottom: 3rem;
  }

  .program-links > a:nth-child(2) {
    display: none;
  }
}

/* speakers card styling */
.speakers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  margin: 2rem 0;
}

.container-title {
  text-align: center;
  color: #272a31;
  position: relative;
  padding: 2rem 0;
}

.container-title::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: #ec5242;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.speaker-card {
  max-width: 21.875rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.speaker-img {
  width: 6.25rem;
  height: 6.25rem;
}

.speaker-name,
.speaker-title {
  text-align: center;
}

.speaker-title {
  color: #ec5242;
}

.speaker-info {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .cards-container {
    flex-direction: row;
    margin: 1rem 10rem;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .container-title::after {
    width: 3%;
  }

  .speaker-card {
    min-width: 31.25rem;
    max-height: 15.625rem;
    height: 100%;
    flex-direction: row;
  }

  .speaker-img {
    width: 12.5rem;
    height: 12.5rem;
  }

  .speaker-name,
  .speaker-title {
    text-align: start;
  }
}

/* partners */
.partners {
  height: 100%;
  display: none;
}

.partners-wrapper {
  background-color: #404346;
}

.partners-title {
  color: #d3d3d3;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.partners-title::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 3%;
  height: 3px;
  background-color: #ec5242;
}

.sponsor-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0.9375rem 0;
}

.sponsor-img {
  width: 9.375rem;
  height: 6.25rem;
}

@media screen and (min-width: 768px) {
  .partners {
    display: block;
  }

  .partners-wrapper {
    padding: 2rem 0;
  }

  .sponsor-images {
    flex-direction: row;
    justify-content: center;
    gap: 20rem;
    width: 100%;
  }

  .sponsor-img {
    width: 18.75rem;
    height: 12.5rem;
  }
}

/* footer section  */
.footer {
  display: none;
}

.footer-content {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
  }
}
